<!DOCTYPE html>
<!--permet de faire le lien au module-->
<html lang="en" ng-app="mediathequeModule">
<head>
    <!--<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">-->
    <link rel="stylesheet" href="/clients/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="./../css/module.card.view.css">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <script src="/clients/bower_components/angular/angular.js"></script>
    <script src="/clients/bower_components/angular-material/angular-material.js"></script>
    <script src="/clients/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/clients/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/clients/bower_components/angular-toArrayFilter/toArrayFilter.js"></script>
    <script src="/clients/bundleClient.js" defer></script>


    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body ng-controller="mediathequeController as mc">

<div ng-controller="SideNavCTRL" layout="column" style="height:500px;" ng-cloak>
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
                    md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Navigation</h1>
            </md-toolbar>
            <md-content layout-padding ng-controller="SideNavLeftCtrl">
                <md-button ng-click="mc.goBackToserversUpnP()" aria-label="Back To Servers" show-gt-md>
                    <img class="icone" src="./../ressources/ic_home.png" alt="Back To Servers"/>
                    Server selection
                </md-button>
                <md-button ng-click="mc.Browse(mc.idCurrentMediaServer, mc.idParentConteneur, 0)"
                           aria-label="Back To Parent" show-gt-md>
                    <img class="icone" src="./../ressources/ic_back.png" alt="Back To Parent"/>
                    Back To Parent
                </md-button>
                <p>
                    <md-divider></md-divider>
                </p>

                <div layout="row">
                    <md-list ng-cloak>
                        <md-list-item ng-repeat="mediaServeur in mc.bricks | toArray:false | filter:{type:'BrickUPnP_MediaServer'}">
                            <md-button ng-click="mc.Browse(mediaServeur.id,0, 0)" show-gt-md>
                                <img class="icone" data-ng-src="{{mediaServeur.iconURL}}" width="30" height="30"/>
                                {{mediaServeur.name}}
                            </md-button>
                        </md-list-item>
                    </md-list>
                </div>

                <div layout="row">
                    <md-list ng-cloak>
                        <md-list-item ng-repeat="container in mc.containers">
                            <md-button ng-click="mc.Browse(mc.idCurrentMediaServer, container.id, mc.idCurrentConteneur,item.uri)" show-gt-md>
                                <img class="icone" src="./../ressources/folder.png" width="30" height="30"/>
                                {{container.title}}
                            </md-button>
                        </md-list-item>
                    </md-list>
                </div>

                <div layout="row">
                    <md-list ng-cloak>
                        <md-list-item ng-repeat="item in mc.items">
                            <img class="icone" data-ng-src="{{item.pict}}" width="30" height="30"/>
                            <p>{{item.title}}</p>
                            <md-button ng-click="mc.Browse(mc.idCurrentMediaServer, item.id, mc.idCurrentConteneur,item.uri)" show-gt-md>
                                <img class="icone" ng-src="./../ressources/ic_play.png" />
                            </md-button>
                        </md-list-item>
                    </md-list>
                </div>

            </md-content>
        </md-sidenav>
        <div layout="column" layout-fill layout-align="top left">
            <div>
                <md-button ng-click="toggleLeft()"
                           class="md-primary" hide-gt-md>
                    Show navigation menu
                </md-button>
            </div>

            <div>
                <md-button ng-click="toggleRight()"
                           ng-hide="isOpenRight()"
                           class="md-primary">
                    Search
                </md-button>
            </div>

            <!--<md-content class="md-padding" layout="row" layout-wrap layout-align="left start" layout-xs="column">
                <div flex="25" flex-sm="50" flex-md="50" flex-xs="100" layout="column" ng-repeat="item in mc.items">
                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{item.title}}</span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <img class="icone" src="./../ressources/folder.png"/>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button
                                    ng-click="mc.Browse(mc.idCurrentMediaServer, item.id, mc.idCurrentConteneur,item.uri)"
                                    show-gt-md>
                                Open media
                            </md-button>
                        </md-card-actions>
                    </md-card>
                </div>
            </md-content>-->

            <iframe ng-src="{{detailFrame}}" width="640" height="480">
                <p>Something wrong...</p>
            </iframe>
        </div>
        <div flex></div>


        <!-- right side of the nav side-->
        <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Search</h1>
            </md-toolbar>
            <md-content ng-controller="SideNavRightCtrl" layout-padding>
                <form>
                    <md-input-container>
                        <label for="testInput">Text to search</label>
                        <input type="text" id="testInput"
                               ng-model="data" md-autofocus>
                    </md-input-container>
                </form>
                <md-button ng-click="close()" class="md-primary">
                    Cancel
                </md-button>
                <md-button ng-click="close()" class="md-primary">
                    Search !
                </md-button>
            </md-content>
        </md-sidenav>
    </section>
</div>
</body>
</html>