<!--<!doctype html>-->

<!--<html>-->
<!--<head>-->
    <!--<title>UPnP</title>-->
    <!--<meta charset="utf-8"/>-->
    <!--<link rel="stylesheet" href="./../../../../test/UPnP/bundleUPnP.css"></link>-->
    <!--<script src="./../../../../test/UPnP/bundleUPnP.js" defer></script>-->
    <!--<script src="./../../../bower_components/angular/angular.js"></script>-->
    <!--<script src="./../controller/module.mediatheque.controller.js" defer></script>-->
<!--</head>-->
<!--<body ng-app="mediatheque" ng-controller="mediathequeController">-->
<!--&lt;!&ndash;<script src="bower_components/angular-route/angular-route.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;<script src="js/app.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;<script src="js/services.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;<script src="js/controllers.js"></script>&ndash;&gt;-->

<!--<h1>UPnP</h1>-->

<!--<p>Look at the console and the javascript file...</p>-->
<!--&lt;!&ndash;<div id="ctrl-exmpl" ng-controller="clients/module/mediatheque/controller/controllerIHM"></div>&ndash;&gt;-->

<!--</body>-->
<!--</html>-->