<!DOCTYPE html>
<!--permet de faire le lien au module-->
<html lang="en" ng-app="mediathequeModule">
<head>
    <!--<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">-->
    <link rel="stylesheet" href="/clients/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="./../css/module.card.view.css">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <script src="/clients/bower_components/angular/angular.js"></script>
    <script src="/clients/bower_components/angular-material/angular-material.js"></script>
    <script src="/clients/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/clients/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/clients/bower_components/angular-toArrayFilter/toArrayFilter.js"></script>
    <script src="/clients/bundleClient.js" defer></script>


    <meta charset="UTF-8">
    <title>Title</title>
</head>


<body ng-controller="mediathequeController as mc">
<media-browser title="Mon explorateur de media" bricks="mc.bricks"></media-browser>
<div layout="column"   layout-wrap>
    <div layout="column" class="relative"  layout-margin  role="main" flex="10">
        <md-toolbar>
            <div class="md-toolbar-tools">

                <!-- Expandable Textfield -->

                <form action="#" class='md-padding'>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable" >
                        <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                            <i class="material-icons">search</i>
                        </label>
                        <div class="mdl-textfield__expandable-holder">
                            <input class="mdl-textfield__input" type="text" id="sample6">
                            <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
                        </div>
                    </div>
                </form>
                <span flex></span>

                <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
                    <ng-md-icon icon="more_vert"></ng-md-icon>
                </md-button>
            </div>


        </md-toolbar>
        <md-toolbar class="md-hue-1" ng-show="showSearch">
            <div class="md-toolbar-tools">
                <md-button ng-click="showSearch = !showSearch" aria-label="Back">
                    <ng-md-icon icon="arrow_back"></ng-md-icon>
                </md-button>
                <h3 flex="10">
                    Back
                </h3>
                <md-input-container md-theme="input" flex>
                    <label>&nbsp;</label>
                    <input ng-model="search.who" placeholder="enter search">
                </md-input-container>
                <md-button aria-label="Search" ng-click="showSearch = !showSearch">
                    <ng-md-icon icon="search"></ng-md-icon>
                </md-button>
                <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
                    <ng-md-icon icon="more_vert"></ng-md-icon>
                </md-button>
            </div>

        </md-toolbar>

    </div>

    <main layout="row" class='md-padding' flex="70" >

        <md-sidenav  layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

            <md-list  >
                <md-item ng-repeat="item in menu">
                    <a>
                        <md-item-content md-ink-ripple layout="row" layout-align="start center">
                            <div class="inset">
                                <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                            </div>
                            <div class="inset">{{item.title}}
                            </div>
                        </md-item-content>
                    </a>
                </md-item>
                <md-item ng-repeat="item in admin">
                    <a>
                        <md-item-content md-ink-ripple layout="row" layout-align="start center">
                            <div class="inset">
                                <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                            </div>
                            <div class="inset">{{item.title}}
                            </div>
                        </md-item-content>
                    </a>
                </md-item>
            </md-list>
        </md-sidenav>


        <div layout="column" layout-fill>
            <div layout="column" class="relative" flex="70" role="main">
                <div layout="row" class="md-toolbar-tools-bottom inset">
                    <div><ng-md-icon icon="my_library_music"></ng-md-icon></div>
                    <div>Musique</div>
                </div>
                <div layout="row" class="md-toolbar-tools-bottom inset">
                    <div><ng-md-icon icon="queue_music"></ng-md-icon></div>
                    <div>Liste de Lecture</div>
                </div>


                <md-content flex md-scroll-y>
                    <ui-view layout="column" layout-fill layout-padding>
                        <div class="inset" hide-sm></div>



                        <div
                                layout="row" >
                            <md-card flex-gt-sm="90" flex-gt-md="80">
                                <md-card-content>
                                    <h2>Pop , 18 Titres , 1h20min</h2>
                                    <md-list>
                                        <md-item ng-repeat="item in playlist | filter:search">
                                            <md-item-content layout="row">
                                                <div class="md-tile-left inset" hide-sm>
                                                    <ng-md-icon icon="play_circle_outline"></ng-md-icon>
                                                </div>
                                                <div class="md-tile-content">
                                                    <h3>{{item.what}}</h3>
                                                </div>
                                            </md-item-content>
                                            <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                                            <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                                        </md-item>
                                        <md-divider></md-divider>
                                        <md-item layout class="inset">
                                            <md-button layout layout-align="start center" flex class="md-primary">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg> More
                                            </md-button>
                                        </md-item>
                                    </md-list>
                                </md-card-content>
                            </md-card>
                        </div>



                    </ui-view>
                </md-content>





            </div>
        </div>

        <span flex></span>
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
            <div layout="row" class="md-toolbar-tools-bottom inset">

                <div>My Playlist</div>
                <span flex></span>
                <div><ng-md-icon icon="playlist_add"></ng-md-icon></div>
            </div>
            <md-list  >
                <md-item ng-repeat="item1 in album">
                    <a>
                        <md-item-content md-ink-ripple layout="row" layout-align="start center">
                            <div class="inset">
                                <ng-md-icon icon="{{item1.icon}}"></ng-md-icon>
                            </div>
                            <div class="inset">{{item1.title}}
                            </div>
                            <span flex></span>
                            <ng-md-icon icon="play_circle_outline"></ng-md-icon>
                        </md-item-content>

                    </a>
                </md-item>
            </md-list>
        </md-sidenav>

    </main>
    <div flex="20">

        <embed src="Rihanna_-_Stay_ft._Mikky_Ekko.mp3"  layout-padding layout-margin layout-fill  autostart="true" loop="false"></embed>
    </div>

</div>



<!-- Angular Material Dependencies -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-aria.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>

<script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>
</body>






<h1>TEST</h1>

<!--<div ng-cloak>-->
<!--<md-content class="md-padding" layout="row" layout-wrap layout-align="center start">-->
<!--<div flex="50" layout="column">-->
<!--<md-card>-->
<!--<md-card-title>-->
<!--<md-card-title-text>-->
<!--<span class="md-headline">Card with image</span>-->
<!--<span class="md-subhead">Large</span>-->
<!--</md-card-title-text>-->
<!--<md-card-title-media>-->
<!--<div class="md-media-lg card-media"></div>-->
<!--</md-card-title-media>-->
<!--</md-card-title>-->
<!--<md-card-actions layout="row" layout-align="end center">-->
<!--<md-button>Lecture</md-button>-->
<!--<md-button>Stop</md-button>-->
<!--</md-card-actions>-->
<!--</md-card>-->
<!--</div>-->
<!--</md-content>-->





</html>